<!DOCTYPE html>
<html>
  <head>
    <title>TutoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link_rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
          <div class="headerLeft">
             <h1 class="headerLogo">TutoApp</h1>
             <ul class="headerNav">
                 
                 <li><%= link_to "Home", root_url %></li>
                 <li><%= link_to "about", about_path %></li>
             </ul>
        　</div>
        　<div class="headerRight">
        　    
        　   <% if current_user %>
        　   
        　        <%= current_user.name %>
        　        
        　   <% else %>
        　   
        　   <%=link_to "新規登録", new_user_path%>
             <%=link_to "ログイン", login_path%>
             
             <% end %>
          </div>
      </header>
    <%= yield %>
  </body>
</html>
