html {
    font-size: 26px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    width: 90%;
    height: 80px;
    padding: 0, 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b0e0e6;
}
.headerLeft,
.headerNav {
    display: flex;
    align-items: center;
}

.headerLight p {
    display: inline-block;
}
.headerLogo {
    font-size: 30px;
    margin-right: 20px;
}
.headerNav li{
    padding: 0 10px;
}
.headerright a {
    margin-left: 10px;
}
.main {
    width : 80%;
    margin: 0 auto;
    padding: 80px 50px 40px;
    box-sizing: border-box;
    background-color: #fff;
    min-height: 90vh;
}
form {
    width: 60%;
    margin: 0 auto;
    
}
input {
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
}
.label {
    display: block;
}
input [type="submit"]{
    display: block;
    line-height: 30px;
    width: 200px;
    margin: 0 auto;
    background-color: #b0e0e6;
}



